<html>
<head>
    <title> {{subject}} </title>
</head>
<body>
{% if paid %}
<p> You have cancelled the event <b> {{ event_title }} </b>. We will notify the attendees and also refund the payments made.<br/> The confirmation ID is <b>{{ cancellation_id }}</b>,<br/> Thank you,<br/> The Kilimanjaro App Team. </p>
{% else %}
<p> You have cancelled the event <b> {{ event_title }} </b>. We will notify the attendees. <br/> The confirmation ID is <b> {{ cancellation_id }} </b> ,<br/> Thank you,<br/> The Kilimanjaro App Team. </p>
{%  endif %}
</body>
</html>