<html>

<head>
    <title> {{subject}} </title>
</head>
<body>
{% if paid %}
<p> <b>{{ first_name }} {{ last_name }}</b> has cancelled there event   '<b>{{ event_title }}</b>'  with Ticket id : <b>{{ ticket_unique_id }}</b>.<br/> {{ refund_amount }} USD will be refunded and they will also be getting a cancellation email <br/> Thank you, <br/> The Kilimanjaro App Team </p>
{% else %}
<p> <b> {{ first_name }} {{ last_name }}</b> has cancelled there event  '<b>{{ event_title }}</b>'  with Ticket id : <b>{{ ticket_unique_id }}</b>.<br/> Thank you, <br/> The Kilimanjaro App Team </p>
{% endif %}
</body>
</html>