<html>
<title>{{subject}}</title>
<body>
{% if paid %}
<p> Your event <b> {{ title }} </b> has been booked by <b> {{ first_name }} {{ last_name }} </b> with a ticket id of  <b>{{ ticket_unique_id }}</b> and has made a payment of {{ amount }} <b>USD</b> <br/>Thank you,<br/>The Kilimanjaro App Team.</p>
{% else %}
<p> Your event <b> {{ title }} </b> has been booked by <b> {{ first_name }} {{ last_name }} </b> with a Ticket ID : <b>{{ ticket_unique_id }}</b>  <br/>Thank you,<br/>The Kilimanjaro App Team.</p>
{% endif %}
</body>

</html>