<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>A Simple Responsive HTML Email</title>
        <style type="text/css">
        .innerpadding {padding: 30px 30px 30px 30px;}
		.borderbottom {border-bottom: 1px solid #f2eeed;}
		.header {padding: 0 0 15px 0; font-size: 24px; line-height: 28px; font-weight: bold;color:red;}
		.bodycopy {font-size: 16px; line-height: 22px;}
        </style>
    </head>
	<body>
	<tr>
    <td class="innerpadding borderbottom">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    Attendance the report for  <b>{{event_title}}</b>, attached is the attendees details in a csv format <br/>
					Thanks for you using Kilimanjaro application.<br/>
					The Kilimanjaro App Team.
                </td>
            </tr>
        </table>
    </td>
</tr>
	</body>
</html>