<html>
<head>
    <title>{{ subject }}</title>
</head>
<body>
{% if paid %}
<p> Your event {{ event_title }} with ticket id :{{ ticket_unique_id }} has been cancelled. <br/> {{ refund_amount }} USD will be refunded <br/> Thank you, <br/> The Kilimanjaro App Team. </p>
{% else %}
<p>Your event {{ event_title }} with ticket id :{{ ticket_unique_id }} has been cancelled.<br/> Thank you,<br/>  The Kilimanjaro App Team. </p>
{% endif %}
</body>
</html>