<html>
    <head>
        <title>{{subject}}</title>
    </head>

    <body>
    <p> Your confirmation has been sent to the organizer for {{ quantity }} {{reservation_word}} of {{ title }} ticket, attached is your ticket for the {{reservation_word}}.
            <br/> Thank you,<br/> The Kilimanjaro App Team. </p>
    </body>
</html>