<html>
​
        <head>

        <style>

          @import url(https://fonts.googleapis.com/css?family=Arvo);

          body{

                background:url(https://subtlepatterns.com/patterns/broken_noise.png);

                font-family:Arvo;

            }

            .box{
                display:flex;
                justify-content: space-evenly;
                margin:0px auto;
                width:500px;
                margin-top:80px;

                background:#FFF9EE url(https://subtlepatterns.com/patterns/lightpaperfibers.png);

                color:#333;

                text-transform:uppercase;

                padding:8px;


                font-weight:bold;

                text-shadow:0px 1px 0px #fff;

                font-family:"arvo";

                font-size: 9px;

                border-left: 1px dashed rgba(51, 51, 51, 0.5);

                -webkit-filter: drop-shadow(0 5px 18px #000);

            }

        ​

          .inner{

                border: 2px dashed rgba(51, 51, 51, 0.5);

                min-height:100px;

                padding:8px;



            }

            .inner h1{

                padding:5px 0px;

                margin:0px;

                font-size:18px;

                border-bottom: 1px solid rgba(51, 51, 51, 0.3);

                text-align:center;

            }

            .info{

                width:100%;

                margin-top:5px;

            }

            .info .wp{

                float: left;

                padding: 5px;

                width: 83px;

                text-align: center;

            }

            .info .wp h2{

                margin: 8px;

            }

            .total{

                border-top: 1px solid rgba(51, 51, 51, 0.3);

            }



            .clearfix:after {

                content: ".";

                display: block;

                height: 0;

                clear: both;

                visibility: hidden;

            }

            .total h2{

                padding-left:115px;

                margin:10px 0px;

                font-size: 15px;

            }

            .total p{float:right;margin:0px;margin-right: 15px;}



            a.buy{

                color:#fff;

                text-align:center;

                font-size:25px;

                text-decoration:none;

                display:block;

                width:200px;

                margin:0px auto;

                margin-top:50px;

                padding:5px;

                background:rgba(0,0,0,0.5);

            }

        </style>

        </head>

        <body>

          <div class="box">

                <div class='inner'>

                <h1>{{title}}</h1>

                <div class='info clearfix'>

                    <div class='wp'>Tickets<h2>{{quantity}}</h2></div>

                    <div class='wp'>Type<h2>{{ticket_type}}</h2></div>

                    <div class='wp'>Ticket Id<h2>{{ticket_id}}</h2></div>

                </div>

                <div class='info clearfix'>

                    <div class='wp'>First Name<h2>{{first_name}}</h2></div>

                    <div class='wp'>Last Name<h2>{{last_name}}</h2></div>

                    <div class='wp'>Date time<h2>{{time}}</h2></div>

                    <div class='wp'>Location<h2>{{place}}</h2></div>

                </div>
                {% if paid %}
                <div class='total clearfix'>
                    <h2>Price : <p>$ {{amount}}</p></h2>
                </div>
                {% endif %}
                </div>

            </div>

        </body>

        </html>